
@layout('layouts/main')

@section('content')
     <div class="col-md-9">
      <div class="card">
        <div class="card-body">
          <label>DASBOARD</label>
          <hr>
          Selamat Datang <strong>{{ user.name }}</strong>
        </div>
      </div>
    </div>
@endsection
